html {
  background-color: #f8f8f8;
  margin: none;
  padding: none;
}

#searchForm {
  background-color: #f8f8f8;
}

@media only screen and (min-width: 1000px) {
  .topPicks {
    max-width: 75%;
  }
}
