html {
  background-image: url(./img/backgroundImage.jpg);
  background-size: cover;
  background-repeat: repeat;
  margin: none;
  padding: none;
}

#searchForm {
}

@media only screen and (min-width: 1000px) {
  .topPicks {
    max-width: 75%;
  }
}
